.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.a {
  background: red;
}

.b {
  height: 100vh;
  width: 100vw;
  /* height: 100%;
  width: 100%; */
}

.img {
  margin: 0;
  display: inline-block;
}

.x {
  height: 100vh;
  width: 100vw;
}

.x img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}


.element {
  display: flex;
  justify-content: center;
}

.zoom {
  max-height: 80vh;
  max-width: 80vw;
}

.react-transform-component {
  background: rgba(255, 0, 0, 0.5);
  height: 80vh !important;
  width: 80vw !important;
}

.react-transform-element {
  cursor: grab;
}